@import "../variables.scss";

.modal__wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #222222, $alpha: 0.9);
  display: flex;
  z-index: 0;

  &:hover {
    background-color: rgba($color: #000, $alpha: 0.5);
    cursor: pointer;
    transition: 0.1s;
  }
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  height: 60%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &__top {
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 10%;
  }

  &__data {
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 80%;
    overflow-y: auto;

    &__name {
      color: $secondary-color;
    }
  }

  &__bottom {
    width: 100%;
    height: 10%;
  }
}