@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;900&display=swap');

main {
    background-color: #191414;
    color: #FFF;
    max-height: 100vh;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
}